body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: #f0f0f0; 
}
.box {
    display: grid;
    grid-template-columns : repeat(1, 1fr);
    grid-gap: 10px ;                         
    padding: 60px 40px 20px ;
    background-color: #212121;            
    border-radius: 10px;                    
}
button {
    padding: 40px;
    font-size: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}
button:hover {
    background-color: #0ed1f4;
}
button:active {
    background-color: #5509fa;
}
.ac{
    padding: 40px 28px;
}
.div{
    padding-left: 28px;
}
.can{
    padding-left: 21px;
    padding-right: 21px;
}
.zero{
    padding-left: 33px;
    padding-right: 33px;
}
.plus{
    padding-left: 38px;
    padding-right: 38px;
}

.input{
    padding: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}